<clickhouse>
    <keeper_server>
        <tcp_port>{{ keeper_port }}</tcp_port>
        <server_id>{{ (groups[group_names[0]].index(inventory_hostname)+1) | int }}</server_id>

        <coordination_settings>
            <operation_timeout_ms>10000</operation_timeout_ms>
            <session_timeout_ms>30000</session_timeout_ms>
            <raft_logs_level>trace</raft_logs_level>
        </coordination_settings>

        <raft_configuration>
          {% for chnode in groups[group_names[0]] %}
          <server>
            <id>{{ loop.index }}</id>
            <hostname>{{ hostvars[chnode].ansible_host }}</hostname>
            <port>{{ hostvars[chnode].raft_port }}</port>
          </server>
          {% endfor %}
        </raft_configuration>
    </keeper_server>
</clickhouse>
